[core]
  editor = vim
[diff]
  tool = meld
[merge]
  tool = mymeld
[mergetool "mymeld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE"
[color]
  ui = auto
[rerere] # auto reapply resulutions
  enabled = true
  autoUpdate = true
[branch]
  sort = -committerdate
[include]
  path = ~/.myconfig/local/.gitconfig
