[core]
  editor = vim
[diff]
  algorithm = histogram
  renames = true
  tool = meld
[merge]
  tool = mymeld
[mergetool "mymeld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE"
[color]
  ui = auto
[rerere] # auto reapply resulutions
  enabled = true
  autoUpdate = true
[branch]
  sort = -committerdate
[init]
  defaultBranch=master
[help]
  autocorrect = prompt
[include]
  path = ~/.myconfig/local/.gitconfig
